.equipe04{
    color: blue;
    background-color: aqua;
}

p1{
    color: red;
    background-color: blueviolet;
}

p2{
    color: black;
    background-color: blue;
}

p3{
    color: brown;
    background-color: black;
}